{% extends '/user/login.html' %}
    {% block title %}
      Register
    {% endblock  %}

    {% block top_heading %}
     <h3 class="text-center mb-3">Register</h3>
    {% endblock  %}


{% block cintent %}

  <form method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-success w-100">Register</button>
  </form>
  <p class="text-center mt-3 mb-0">
          <a href="{{ url_for('login') }}">Already have an account? Login</a>
  </p>
{% endblock  %}
